<!DOCTYPE html>
<html>
  <head>
    <title>Boris Stoyanov-Brignoli - Personal Page</title>
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans|Oswald" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
	<header id="main_navigation" class= "clearfix">
	<%= link_to "Boris Stoyanov-Brignoli", root_path, class:"name" %>
	<nav>
		<%= link_to "Articles", posts_path %>
		<%= link_to "Projects", projects_path %>
		<%= link_to "Contact", new_contact_path %>
	</nav>
	</header>

	<!-- will show if there's a notice or an alert -->
	<!-- related to gem devise -->
	<% if notice %>
		<p class="notice"><%= notice %></p>
	<% elsif notice %>
		<p class="alert"><%= alert %></p>
	<% end %>

    <%= yield %>

    <footer id="main_footer">
		<p class="copyright">&copy; 2016 Boris Stoyanov-Brignoli</p>
		<nav>
			<a href="https://www.linkedin.com/in/boris-stoyanov-brignoli-49907545?trk=nav_responsive_tab_profile_pic" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
		</nav>
	</footer>
  </body>
</html>
